<%- include('../includes/header.ejs') %>
<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <div class="container py-5">
      <div class="row">
        <div class="col-md-4 col-lg-4 mx-auto">
          <div class="card">
            <img src="<%= product.imageUrl %> " alt="<%= product.title %> " />
            <div class="card-body">
              <h3 class="card-title"><%= product.title %></h3>
              <p class="card-subtitle text-muted"><%= product.price %></p>
              <p class="card-text"><%= product.description %></p>
              <!-- add to cart -->
              <%- include('../includes/add-to-cart.ejs') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <%- include('../includes/footer.ejs') %>
</body>
